<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/libraries/bulma.min.css') }}">
    {# this is for font-awesome #}
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/libraries/all.min.css') }}">#}
    <script src="{{ url_for('static',filename='js/libraries/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libraries/socket.io.js') }}"></script>

    <style>
        /* width */
        ::-webkit-scrollbar {
            display: none;
        }

        {#/* Track */#}
        {#::-webkit-scrollbar-track {#}
        {#    box-shadow: inset 0 0 5px grey;#}
        {#    border-radius: 10px;#}

        {##}
        {#/* Handle */#}
        {#::-webkit-scrollbar-thumb {#}
        {#    background: darkgray;#}
        {#    border-radius: 10px;#}

        {##}
        {#/* Handle on hover */#}
        {#::-webkit-scrollbar-thumb:hover {#}
        {#    background: grey;#}

    </style>

    <script>
        window.addEventListener("dragover", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);
        window.addEventListener("drop", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);
    </script>

    {% block css_link %} {% endblock %}
</head>
<body>

{% block body %}

{% endblock %}

{% block script_link %}{% endblock %}
</body>
</html>