<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        /* width */
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <style>
        {#https://assets.materialup.com/uploads/f84319d6-56d0-4f53-bcce-4dcf997c460e/preview.gif#}
        {# http://localhost:5000/static/images/loading_screen.gif #}
        body {
            background-image: url('http://localhost:5000/static/images/loading_screen.gif');
            background-size: cover;
            height: 100vh;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>

</body>
</html>