{% extends 'base.html' %}

{% block script_link %}
    <script src="{{ url_for('static', filename='js/window2.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='js/libraries/jscolor.js') }}"></script>#}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window2.css') }}">
{% endblock %}


{% block body %}

    <div class="box" style="margin: 8px;">
        <div class="columns">
            <div class="column" id="app_logo_section">
                <img src="{{ url_for('static',filename='images/app_logo.png') }}"
                     alt="Oncher App">

            </div>
            <div class="column is-narrow-desktop" style="margin-top: 10px;visibility: hidden" id="student_name_div">

            </div>
            {#  #}
            <div class="column is-narrow-desktop" style="margin-top: 4px;visibility: hidden" id="stars_bar">
                {% for i in range(10) %}
                    <i class="fa fa-star" style="font-size: 36px" id="star_count_{{ i }}"></i>
                {% endfor %}
            </div>

            <div class="column is-1" id="stars_count_div" style="visibility: hidden">
                <button class="button is-medium title is-light is-warning box"><i class="fal fa-star"
                                                                                  style="font-size: 24px;color: gold"
                                                                                  id="star_icon"></i>
                    <span style="margin-left: 8px;" id="star_count">0</span>
                </button>
            </div>

            <div class="column" style="margin-left: 8px;visibility: hidden" id="diamond_count_div">
                <button class="button is-medium title is-light is-primary box"><i class="fal fa-diamond"
                                                                                  style="font-size: 24px;color: cyan"></i>
                    <span style="margin-left: 8px;" id="diamond_count">0</span>
                </button>
            </div>

            <div class="column" style="padding-right: 8px;visibility: hidden" id="time_count_div">
                <button class="button is-medium title is-success is-light is-outlined box" id="time_count">00:00
                </button>
            </div>

        </div>
    </div>

    <div class="box" id="initial_box"
         style="margin: 8px 8px 0;
         padding: 16px;border: none;border-radius: 0;">

        <div class="columns" id="intro_screen">
            <div class="column">
                <img src="{{ url_for('static',filename='images/init.gif') }}" alt="gif" width="500px" height="350px"
                     style="pointer-events: none">
            </div>
            <div class="column is-half-desktop">
                <h1 class="title is-1" style="font-family: 'HP Simplified',serif;padding: 16px;margin-left: 32px">Teach
                    with ONCHER</h1>
                <section class="section" id="drag_and_drop_section" style="margin: 16px">
                    <img style="margin: 16px" src="{{ url_for('static', filename='images/pdf_pic.jpg') }}" alt="pdf_pic"
                         width="128px"
                         height="128px">
                    <h5 class="title is-5" style="font-family: 'HP Simplified',serif;
                            margin-top: 8px;">Drop File or <a href="#"> Browse</a> to teach</h5>
                    <h6 class="title is-6" style="font-family: 'HP Simplified Light',serif;">Supports .pdf, .ppt, .pptm,
                        .pptx</h6>
                </section>
            </div>
        </div>

        <div class="columns" id="choose_games" style="display: none;">
            <div class="column box" id="game_1" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">TikTakToe</h2>
            </div>
            <div class="column box" id="game_2" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">MATCH</h2>
            </div>
            <div class="column box" id="game_3" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">FIND</h2>
            </div>
            <div class="column box" id="game_4" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">LISTEN</h2>
            </div>
        </div>

    </div>


    {# start => tik-tak-toe game screen #}

    <div class="box" id="tik_tak_toe" style="background: black;display: none;margin: 8px">
        <div class="columns is-one-quarter">
            <div class="column" id="score_area">
                <h4 class="title is-4" style="color: #5efa0a" id="whose-turn">Teacher's Turn</h4>

                <h4 class="title is-4" style="color: cornflowerblue">Student's Score (X)</h4>
                <h2 class="title is-3" style="color: gold" id="student-score">0</h2>
                <br>
                <h4 class="title is-4" style="color: hotpink">Teacher's Score (O)</h4>
                <h2 class="title is-3" style="color: gold" id="teacher-score">0</h2>
            </div>

            <script>
                // tik-tak-toe game logics
                // variables
                let whose_turn = "teacher"; // first move will be "teacher"
                let arr = [[-1, -1, -1], [-1, -1, -1], [-1, -1, -1]]; // -1 means empty, 0 means teacher 1 means student

                // teacher is 0 and student is X
                function change_tik_tak_toe_result(i, j) {
                    // i, j is the clicked position in the 3 x 3 grid of tik-tak-toe game
                    let tik_tak_toe_card = $(`#tik_tak_toe_${i}_${j}`);
                    let card_image = $(`#card_${i}_${j}`);
                    if (whose_turn === "teacher") {
                        $(`#circle_${i}_${j}`).css('visibility', 'visible');
                        whose_turn = "student";
                        arr[i][j] = 0;
                        $('#whose-turn').hide().text("Student's Turn").show(1000);
                    } else {
                        $(`#cross_${i}_${j}`).css('visibility', 'visible');
                        whose_turn = "teacher";
                        arr[i][j] = 5;
                        $('#whose-turn').hide().text("Teacher's Turn").show(1500);
                    }
                    // now check if there is any cross (potential points)
                    // row and col check
                    for (let x = 0; x < 3; x++) {
                        let row_tot = 0;
                        let col_tot = 0;
                        for (let y = 0; y < 3; y++) {
                            row_tot += arr[x][y];
                            col_tot += arr[y][x];
                        }
                        // alert(" " + row_tot + " " + col_tot);
                        if (row_tot === 0 || row_tot === 15)
                            // done for row
                            return reset_game(row_tot === 0 ? "teacher" : "student");
                        if (col_tot === 0 || col_tot === 15)
                            return reset_game(col_tot === 0 ? "teacher" : "student");
                    }
                    // 2 diagonal check
                    let D1 = arr[0][0] + arr[1][1] + arr[2][2];
                    if (D1 === 0 || D1 === 15)
                        return reset_game(D1 === 0 ? "teacher" : "student");

                    let D2 = arr[0][2] + arr[1][1] + arr[2][0];
                    if (D2 === 0 || D2 === 15)
                        return reset_game(D2 === 0 ? "teacher" : "student");
                }

                function reset_game(who_won) {
                    // todo: implement function
                    for (let x = 0; x < 3; x++) {
                        for (let y = 0; y < 3; y++) {
                            $(`#circle_${x}_${y}`).css('visibility', 'hidden');
                            $(`#cross_${x}_${y}`).css('visibility', 'hidden');
                        }
                    }
                    if (who_won === "teacher") {
                        let teacher_score = parseInt($('#teacher-score').text());
                        teacher_score++;
                        $('#teacher-score').text("" + teacher_score);
                    } else {
                        let student_score = parseInt($('#student-score').text());
                        student_score++;
                        $('#student-score').text("" + student_score);
                    }
                    arr = [[-1, -1, -1], [-1, -1, -1], [-1, -1, -1]];
                    whose_turn = "teacher"

                }
            </script>

            <div class="column is-half" id="game_area">

                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            <div class="column box" style="margin: 8px" id="tik_tak_toe_{{ i }}_{{ j }}"
                                 onclick="change_tik_tak_toe_result({{ i }},{{ j }})">
                                <img style="height: 96px;width: 96px;z-index: 0" id="card_{{ i }}_{{ j }}"
                                     src="https://i2.wp.com/files.123freevectors.com/wp-content/uploads/new/animals/370-cartoon-dog-vector-image.png?w=800&q=95"
                                     alt="{{ i }}">

                                <i class="fa fa-times"
                                   style="font-size: 90px;z-index: 4;position: absolute;visibility: hidden;color: cornflowerblue"
                                   id="cross_{{ i }}_{{ j }}"></i>
                                <i class="fa fa-circle"
                                   style="font-size: 90px;z-index: 4;position: absolute;visibility: hidden;color: hotpink"
                                   id="circle_{{ i }}_{{ j }}"></i>
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}


            </div>

            <div class="column is-one-quarter" id="others_area">
                <button class="button is-success" id="new_game">New Game</button>
                <br>
                <button class="button is-danger" id="back_to_lesson" style="margin-top: 12px">Back To Lesson</button>
            </div>
        </div>
    </div>

    {# end => tik-tak-toe game screen #}

    {# start => match game screen #}
    <div class="box" id="match_game" style="background: #207bdd;display: none;margin: 8px">
        <h3 class="title is-3" style="font-weight: bolder">MATCH</h3>
        <h6 class="subtitle is-6" style="display: none;">Please choose Grade and Lesson</h6>

        <script>
            let last_selected = null; // [i,j]
            // let colors = [[], [], []];
            let already_chosen = [];

            function chosen_first_grid(j, i) {
                if (last_selected != null && !already_chosen.includes(last_selected)) {
                    $(`#match_1_${last_selected[0]}_${last_selected[1]}`).css({'box-shadow': ''});
                    $(`#number_${last_selected[0]}_${last_selected[1]}`).css({'color': 'black'});
                }
                //card_1.effect("shake", {direction: "up", times: 5, distance: 50}, 2000);
                $(`#match_1_${i}_${j}`).css({'box-shadow': '10px 10px 5px hotpink'});
                $(`#number_${i}_${j}`).css({'color': 'hotpink'});
                last_selected = [i, j];
            }

            function chosen_second_grid(j, i) {
                // todo: get the mapping between grid-1 and grid-2, thus used to match
                // todo: if correct/wrong make sound
                if (last_selected != null) {
                    document.getElementById('play_star_sound').click();
                    $(`#match_2_${j}_${i}`).hide(1500);
                    $(`#number_${last_selected[0]}_${last_selected[1]}`).css({'font-size': '18px', 'color': 'green'}
                    ).hide().show(1500).text($(`#name_${i}_${j}`).text());
                    $(`#match_1_${last_selected[0]}_${last_selected[1]}`).css({'pointer-events': 'none'}).css({'box-shadow': '10px 10px 5px green'});// make the 1st grid elem unclickable
                    // todo: if correct then add to already chose
                    already_chosen.push(last_selected);
                    // $(`#letter_${i}_${j}`).text('✔️');
                } else {
                    // todo: show a notification that nothing is selected from grid-1
                }

            }
        </script>

        <div class="columns">
            {# game's first part #}
            {% set grid_num = [[1,2,3],[4,5,6],[7,8,9]] %}
            <div class="box column is-two-fifths" style="background: black">
                {% set num=0 %}
                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            {% set num= num + 1 %}
                            <div class="column box"
                                 style="margin: 8px;"
                                 id="match_1_{{ i }}_{{ j }}"
                                 onclick="chosen_first_grid({{ j }},
                                         {{ i }})">
                                <h2 class="title is-3" id="number_{{ i }}_{{ j }}"
                                    style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ grid_num[j][i] }}</h2>
                                <img
                                        style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                                        id="match_card_2_{{ i }}_{{ j }}"
                                        src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                                        alt="{{ i }}">
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
            {# game's second part #}
            {% set grid_letter = [['A','B','C'],['D','E','F'],['G','H','I']] %}
            <div class="box column is-two-fifths" style="background: black;margin-left: 16px">
                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            <div class="column box" style="margin: 8px;height: 126px;background: #02c9ff"
                                 id="match_2_{{ i }}_{{ j }}" onclick="chosen_second_grid({{ i }},{{ j }})">
                                <h2 class="title is-2" id="letter_{{ i }}_{{ j }}"
                                    style="font-weight: bolder;color: black">{{ grid_letter[j][i] }}</h2>
                                <h5 class="title is-5 has-text-centered" style="color: blue" id="name_{{ i }}_{{ j }}">
                                    Elephant</h5>
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
            <div class="column is-one-fifth">
                <button class="button is-success" id="new_game">New Game</button>
                <br>
                <button class="button is-danger" id="back_to_lesson" style="margin-top: 12px">Back To Lesson</button>
            </div>
        </div>
    </div>

    {# end => match game screen #}



    {# start => find game screen #}
    <div class="box" id="find_game" style="background: black;display: none;margin: 8px">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3" style="font-weight: bolder;color: #00d1b2">FIND</h3>
            </div>
            <div class="column">
                {# todo: start button #}
                <h3 class="title is-3" style="color:green;">Time: 00:08</h3>
                <div class="columns">
                    <div class="column box is-center is-full">
                        <img
                                style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                                id="card_"
                                src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                                alt="_">
                    </div>
                </div>
            </div>
            <div class="column">
                <h3 class="title is-3" style="color: gold">Points: 0</h3>
            </div>
        </div>
        <div class="columns">
            {% for k in range(5) %}
                <div class="column box" style="margin: 8px">
                    <h2 class="title is-3" id="number_{{ k }}"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ loop.index }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_{{ k }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ k }}">
                </div>
            {% endfor %}
        </div>
        <div class="columns">
            {% for y in range(5,9) %}
                <div class="column box" style="margin: 8px">
                    <h2 class="title is-3" id="number_{{ y }}"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ y }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_{{ y }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ y }}">
                </div>
            {% endfor %}
        </div>
    </div>

    {# end => find game screen #}



    {#    <div class="animation_div" style="display: none">#}
    {#        <img src="{{ url_for('static', filename='images/star.gif') }}" alt="happy_gif"#}
    {#             width="196px"#}
    {#             height="196px" id="star_animation">#}
    {#    </div>#}

    {# star animation #}
    <div class="content" style="display:none;" id="star_animation_div">
        <div class="trophy">
            <img src="https://i.ibb.co/kVZ3CN6/trophy.png" alt="trophy">
        </div>
    </div>

    {# dice animation #}

    <div class="panel" style="display: none;margin-top: 50px;" id="dice_animation_div">
        <div class="dice">
            <div class="side one">
                <span class="dot"></span>
            </div>
            <div class="side two">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="side three">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="side four">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="side five">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="side six">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>

    {# toss animation #}
    <div id="toss_animation_div" style="display: none">
        {#        <img id="featureCoin"#}
        {#             src="https://upload.wikimedia.org/wikipedia/en/5/52/British_fifty_pence_coin_2015_obverse.png"/>#}
        <div id='coin'>

        </div>
    </div>






    <div class="box" id="iframe-container"
         style="margin: 0;padding: 0;border: none;border-radius: 8px;display: none">
        {#
    <iframe class="responsive-iframe" id="responsive-iframe" allowfullscreen width="100%" height="500px" frameBorder="0"
            #}
        {#
            src="https://psg3-powerpoint.officeapps.live.com/p/PowerPointFrame.aspx?PowerPointView=SlideShowView&ui=en%2DGB&rs=en%2DGB&WOPISrc=http%3A%2F%2Fpsg3%2Dview%2Dwopi%2Ewopi%2Elive%2Enet%3A808%2Foh%2Fwopi%2Ffiles%2F%40%2FwFileId%3FwFileId%3Dhttps%253A%252F%252Fwww%252Elibwired%252Ecom%253A443%252Fstatic%252FGrade1Lesson1%252Epptx&access_token_ttl=0&wdModeSwitchTime=1612594467217">
        #}
        {##}
        {#
    </iframe>
    #}

    </div>

    {# canvas to draw over... #}

    <div id="drawing-div">

    </div>

    <script>


    </script>


    {# end canvas code #}

    {# hidden sound block for animations #}
    {#
<audio controls>#}
    {#
    <source src="{{ url_for('static', filename='sounds/star_sound.mp3') }}" type="audio/mpeg" id="star_sound">
    #}
    {#
</audio>#}

    <audio id="audiotag1" src="{{ url_for('static', filename='sounds/star_sound.mp3') }}" preload="auto"></audio>
    <a href="javascript:play_star_sound();" style="display: none" id="play_star_sound"></a>
    <script type="text/javascript">
        function play_star_sound() {
            document.getElementById('audiotag1').play();
        }

    </script>


    {# modal to change timer time #}
    <div class="modal" id="timer_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Set Class Time Length</p>
                <button class="delete" aria-label="close" onclick="close_modal()"></button>
            </header>
            <section class="modal-card-body">
                <h1 class="title is-1" style="text-align: center;color: #f8c30d" id="time">00:50:00</h1>
                <div class="columns">
                    <div class="column">
                        <label for="hours"> Hours</label>
                        <input class="input is-medium" type="number" placeholder="hours" value="0" id="hours"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()">
                    </div>
                    <div class="column">
                        <label for="minutes">Minutes</label>
                        <input class="input is-medium" type="number" placeholder="minutes" value="50" id="minutes"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()">
                    </div>
                    <div class="column">
                        <label for="seconds">Seconds</label>
                        <input class="input is-medium" type="number" placeholder="seconds" value="0" id="seconds"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()"
                        >
                    </div>
                    <script>
                        function close_modal() {
                            $('#timer_modal').removeClass("modal is-active").addClass("modal");
                        }

                        function update_time() {
                            let h = $('#hours');
                            let m = $('#minutes');
                            let s = $('#seconds');
                            let save_changes = $('#save_time');
                            let hi = parseInt(h.val());
                            let mi = parseInt(m.val());
                            let si = parseInt(s.val());

                            if (hi < 0 || hi > 23) {
                                save_changes.prop('disabled', true);
                                h.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                h.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (hi < 10)
                                    hi = "0" + hi;
                                else
                                    hi = "" + hi;
                            }
                            if (mi < 0 || mi > 59) {
                                save_changes.prop('disabled', true);
                                m.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                m.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (mi < 10)
                                    mi = "0" + mi;
                                else
                                    mi = "" + mi;
                            }
                            if (si < 0 || si > 59) {
                                save_changes.prop('disabled', true);
                                s.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                s.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (si < 10)
                                    si = "0" + si;
                                else
                                    si = "" + si;
                            }


                            $('#time').text(hi + ":" + mi + ":" + si);
                        }
                    </script>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="save_time">Save Changes</button>
                <button class="button" onclick="close_modal()">Cancel</button>
            </footer>
        </div>
    </div>



{% endblock %}



