{% extends 'base.html' %}

{% block script_link %}
    <script src="{{ url_for('static', filename='js/window1.js') }}"></script>
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window1.css') }}">
{% endblock %}


{% block body %}

    <div class="block" style="margin-top: 16px;margin-left: 8px" id="student_manage_section">
        {#        <h5 class="title is-5">Student: </h5>#}
        <div class="dropdown" id="student_list">
            <div class="dropdown-trigger">
                <button class="button is-danger is-outlined is-light" aria-haspopup="true"
                        aria-controls="dropdown-menu3">
                    <span id="base_student_text">Pick Student&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">

                    {% for student in students %}
                        <a onclick='send_student_select_signal({{ student | tojson }})'
                           class="dropdown-item">
                            {{ student.name }}
                        </a>
                    {% endfor %}

                    <script>
                        function send_student_select_signal(student_object) {
                          //  $('#base_student_text').text(student_object["name"]);
                            $('#age').text(student_object['age']);
                            $('#gender').text(student_object['gender'] ? "M" : "F");
                            $('#recent').text(student_object['recent']);
                            $('#classes').text(student_object['classes']);
                            $('#left').text(student_object['left']);

                            let socket = io.connect('/');
                            socket.emit('student_select_signal_receive', {
                                'id': student_object['id']
                            });
                        }
                    </script>

                </div>
            </div>
        </div>
        <button class="button is-danger is-light" id="add_button">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="container" style="margin-top: 8px;margin-left: 12px" id="student_info_section_1">
        <div class="is-inline-block-mobile"><h6 class="title is-6">Age</h6></div>
        &nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="title is-6">Gender</h6></div>
        &nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="title is-6">Recent</h6></div>
        &nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="title is-6">Classes</h6></div>
        &nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="title is-6">Left</h6></div>
    </div>

    <div class="container " style="margin-top: 8px;margin-left: 8px" id="student_info_section_2">
        &nbsp;
        <div class="is-inline-block-mobile"><h6 class="subtitle is-6" id="age">11</h6></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="subtitle is-6" id="gender">F</h6></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="subtitle is-6" id="recent">G6L19</h6></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="subtitle is-6" id="classes">11</h6></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="is-inline-block-mobile"><h6 class="subtitle is-6" id="left">6</h6></div>
    </div>

    <div class="block" style="margin-left: 8px;margin-right: 8px;margin-top: 12px" id="lesson_plan_section">
        <h6 class="title is-6">Lesson Plan: Slide 1</h6>
        <div class="field">
            <div class="control">
                <textarea class="textarea" rows="7" placeholder="Lesson Plan" style="resize: none"></textarea>
            </div>
        </div>
    </div>

    <section style="margin-left: 8px" id="grade_section">

        <div class="dropdown" id="grade_list" style="margin-left: 2px">
            <span class="title is-5" style="margin-top: 6px">Grade:&nbsp;&nbsp;</span>
            <div class="dropdown-trigger">
                <button class="button is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span id="base_grade_text">--</span>
                    <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                    {% for grade in grade_lessons %}
                        <a onclick="send_grade_select_signal({{ grade }})" class="dropdown-item">
                            {{ grade }}
                        </a>
                    {% endfor %}

                    <script>
                        let grade_lessons_arr = {{ grade_lessons | tojson }}; // {grade: [lessons] }
                        // alert(" > " + grade_lessons_arr);
                        let socket = io.connect('/');
                        // current selected grade and lesson
                        let current_grade = null;
                        let current_lesson = null;

                        function send_grade_select_signal(grade) {
                            current_grade = grade;
                            current_lesson = grade_lessons_arr[current_grade][0]; // as newly selected grade, lesson is not yet selected
                            $('#base_grade_text').text(`${current_grade}`);
                            $('#base_lesson_text').text(`${current_lesson}`);

                            let l = $('#lessons_div');
                            l.empty();
                            for (let i = 0; i < grade_lessons_arr[current_grade].length; i++) {
                                l.append("<a onclick=\"send_lesson_select_signal(" + `${grade_lessons_arr[current_grade][i]}` + ")\" class=\"dropdown-item\">\n" +
                                    "                            \n" + `${grade_lessons_arr[current_grade][i]}` +
                                    "                        </a>")
                            }
                            // also change the lessons (that are mapped with grade) in lesson dropdown option
                            socket.emit('grade_lesson_select_signal_receive', {
                                'grade': current_grade, 'lesson': current_lesson
                            });
                        }

                        // lesson select func
                        function send_lesson_select_signal(lesson) {
                            current_lesson = lesson;
                            $('#base_lesson_text').text(`${current_lesson}`);
                            // also change the lessons (that are mapped with grade) in lesson dropdown option
                            socket.emit('grade_lesson_select_signal_receive', {
                                'grade': current_grade, 'lesson': current_lesson // if null then send first lesson
                            });
                        }

                    </script>

                </div>
            </div>
        </div>

        <div class="dropdown" id="lesson_list" style="margin-left: 6px;margin-right: 2px">
            <span class="title is-5" style="margin-top: 6px">Lesson:&nbsp;&nbsp;</span>
            <div class="dropdown-trigger">
                <button class="button is-danger is-light" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span id="base_lesson_text">--</span>
                    <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu5" role="menu">
                <div class="dropdown-content" id="lessons_div">
                    {# empty... will be appended by JS on grade select.. #}


                </div>

            </div>
        </div>
    </section>

    <div class="field" style="margin:8px;" id="student_notes_text">
        <div class="control">
            <textarea style="resize: none" class="textarea" rows="7" placeholder="Student Notes:"></textarea>
        </div>
    </div>

    {#    <div class="notification is-success is-light" style="z-index: 2;position: absolute;margin: 8px">#}
    {#        Student: <strong>Alex</strong> has been added.#}
    {#    </div>#}




    {# add student form #}
    <section class="section is-small" style="display: none" id="student_add_form">

        <div class="field">
            <label class="label">Student Name</label>
            <div class="control">
                <input class="input" type="text" id="student_name" placeholder="e.g: Alice" name="student_name">
            </div>
        </div>

        <div class="field">
            <label class="label">Student Age</label>
            <div class="control">
                <input class="input" type="number" id="student_age" placeholder="e.g: 12" name="student_age">
            </div>
        </div>
        <div class="control">
            <label class="label">Student Sex</label>
            <label class="radio">
                <input type="radio" name="sex" value="male" checked>
                Male
            </label>
            <label class="radio">
                <input type="radio" name="sex" value="female">
                Female
            </label>
        </div>
        <br>
        <button class="button is-success is-normal" id="add_student">+ Add Student</button>

    </section>

    <div class="field-body" style="margin-left: 8px;"
         id="file_upload_section">
      <button style="font-weight: bolder;background: #12e312" type="button" class="button is-link field is-inline-block-mobile" id="view_ss_report">View SS Report
        </button>
        <form method="post" name="fileinfo" id="fileinfo" class="field is-inline-block-mobile">
            <div class="file is-primary" style="font-weight: bolder;background: #b120e8">
                <label class="file-label">
                    <input class="file-input" type="file" name="myfile" id="myfile">
                    <span class="file-cta">
{#            <span class="file-icon">#}
{#              <i class="fas fa-upload"></i>#}
{#            </span>#}
            <span class="file-label">
{#              Upload PPT/PDF#}
                Configure
            </span>
                </span>
                </label>

            </div>

        </form>

    </div>


{% endblock %}