{% extends 'base.html' %}

{% block script_link %}
    <script src="{{ url_for('static', filename='js/window1.js') }}"></script>
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window1.css') }}">
{% endblock %}


{% block body %}
    {# todo: make it responsive #}
    <div class="block is-grouped-centered" style="margin-top: 16px;margin-left: 8px" id="student_manage_section">
        {#        <h5 class="title is-5">Student: </h5>#}
        <div class="dropdown" id="student_list" style="float: left;width: 78%">
            <button class="dropdown-trigger button is-link is-light"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu3"
                    style="box-shadow: 0 0 11px rgba(236,220,220,0.45);
                        display: flex;
  justify-content: space-between;width: 100%">
                <span id="base_student_text">Pick Student</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
            </button>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="students-list-dropdown">

                    {% for student in students %}
                        <a onclick='send_student_select_signal({{ student | tojson }})'
                           class="dropdown-item">
                            {{ student.name }}
                        </a>
                    {% endfor %}

                </div>

                <script>

                    let is_note_section_enabled = false;
                    let current_student_object = null;


                    socket.on('students-list-dropdown', function (data) {
                        //   alert('yo here students');
                        let student_list_dropdown_elem = $('#students-list-dropdown');
                        student_list_dropdown_elem.empty();
                        if (data === null || data['students'].length > 0) {
                            // todo: nothing to select
                        } else {
                            for (let q = 0; q < data['students'].length; q++) {
                                student_list_dropdown_elem.append(`<a onClick='send_student_select_signal(${data['students'][q]})'\n` +
                                    "   class=\"dropdown-item\">\n" +
                                    `    ${data['students'][q]['name']}\n` +
                                    "</a>");
                            }
                        }
                    });
                    // .attr('disabled','disabled');

                    // 'students_list_update'
                    function send_student_select_signal(student_object) {
                        is_note_section_enabled = true;
                        current_student_object = student_object;
                        //  $('#base_student_text').text(student_object["name"]);
                        $('#age').text(student_object['age']);
                        $('#gender').text(student_object['gender'] ? "M" : "F");
                        $('#recent').text(student_object['recent']);
                        $('#classes').text(student_object['classes']);
                        $('#left').text(student_object['left']);
                        $('#student_notes').text(student_object['note_saved']).removeAttr('disabled');

                        let socket = io.connect('/');
                        socket.emit('student_select_signal_receive', {
                            'id': student_object['id']
                        });
                        $('#view_ss_report').removeAttr('disabled');
                        // also update the "student notes" section
                    }

                    function update_student_note() {
                        $.ajax({
                            url: "/student_note_save",
                            type: "POST",
                            data: {
                                'id': current_student_object['id'],
                                'note': $('#student_notes').val()
                            }
                            // },
                            // processData: false,  // tell jQuery not to process the data
                            // contentType: false   // tell jQuery not to set contentType
                        });
                    }

                    function view_ss_report_trigger() {
                        socket.emit('view_ss_report_open_signal', {'current_student_object': current_student_object});
                    }

                </script>
            </div>
        </div>
        <div class="customized_gap">
            &nbsp;
        </div>
        <button class="button is-link is-light" id="add_button"
                style="box-shadow: 0 0 11px rgba(236,220,220,0.45);
                float: left;width: 18%">
            <i class="fas fa-plus"></i>
        </button>
    </div>


    <br>
    <div class="block" style="margin-top: 32px;margin-left: 0;padding-left: 0;" id="student_info_section_1">
        <div class="is-inline-block-mobile"
             style="float: left;width:20%;text-align: center">
            <h5 class="title is-6" style="font-weight: bolder">Age</h5></div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h5 class="title is-6" style="font-weight: bolder">Gender</h5></div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h5 class="title is-6" style="font-weight: bolder">Recent</h5></div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h5 class="title is-6" style="font-weight: bolder">Classes</h5></div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h5 class="title is-6" style="font-weight: bolder">Left</h5></div>
    </div>
    <br>
    <div class="block" style=""
         id="student_info_section_2">

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h6 class="subtitle is-6" id="age">-</h6>
        </div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h6 class="subtitle is-6" id="gender">-</h6>
        </div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h6 class="subtitle is-6" id="recent">-</h6></div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h6 class="subtitle is-6" id="classes">-</h6>
        </div>

        <div class="is-inline-block-mobile" style="float: left;width:20%;text-align: center">
            <h6 class="subtitle is-6" id="left">-</h6>
        </div>
    </div>

    {# todo: don't know what is this? LOL #}
    <div class="field block" style="margin-left: 10px;margin-right: 8px;margin-top: 32px"
         id="lesson_plan_section">
        <h4 class="title is-4" style="margin-bottom:8px;padding-bottom:0;
        margin-left: 4px;">
            <span style="color: #1d72aa;font-weight: bolder;">Lesson Plan:</span>
            <span style=""><b>NONE</b></span></h4>
        <div class="field" style="padding-top: 2px">
            <div class="control">
                <textarea class="textarea" rows="7" placeholder="Lesson Plan"
                          style="resize: none;box-shadow: 0 0 11px rgba(236,220,220,0.45);border: none"></textarea>
            </div>
        </div>
    </div>

    <section id="grade_section" class="is-grouped-centered"
             style="margin-left: 10px;margin-right: 2px;">
        {# GRADE #}
        <div class="dropdown" id="grade_list" style="float: left;width: 48%">

            <button class="dropdown-trigger button is-success"
                    aria-haspopup="true" aria-controls="dropdown-menu3"
                    style="box-shadow: 0 0 11px rgba(236,220,220,0.45);
                    float: left;width: 100%;display: flex;
  justify-content: space-between;">
                <span id="base_grade_text" style="font-weight: bolder">Select Grade</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                 </span>
            </button>

            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content" id="grade-list-in-dropdown">
                    {# initially we will have grade_lessons_docs_version #}
                    {% for grade in grade_lessons_docs_version %}
                        <a onclick="send_grade_select_signal({{ grade }})" class="dropdown-item">
                            {{ grade }}
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="customized_gap">
            &nbsp;
        </div>
        {# LESSON #}
        <div class="dropdown" id="lesson_list" style="float: left;width: 48%;">
            <button class="button is-link" aria-haspopup="true"
                    aria-controls="dropdown-menu3"
                    style="box-shadow: 0 0 11px rgba(236,220,220,0.45);
                        float: left;width: 100%;display: flex;
  justify-content: space-between">
                <span id="base_lesson_text" style="font-weight: bolder">Select Lesson</span>
                <span class="icon is-small">
                           <i class="fas fa-angle-down" aria-hidden="true" style="float: right"></i>
                         </span>
            </button>


            <div class="dropdown-menu" id="dropdown-menu5" role="menu">
                <div class="dropdown-content" id="lessons_div">
                    {# empty... will be appended by JS on grade select.. #}


                </div>

            </div>
        </div>

        {# scrripts for dropdown #}
        <script>
            // todo: what about students under a grade ?
            let grade_lessons_docs_version = {{ grade_lessons_docs_version | tojson }}; // {grade: [lessons] }
            let grade_lessons_flashcard_version = {{ grade_lessons_flashcard_version | tojson }};
            // alert("F " + JSON.stringify(grade_lessons_flashcard_version));
            let which_one = 'docs_version'; // 'flashcard_version'

            // current selected grade and lesson
            let current_grade = null;
            let current_lesson = null;

            function refresh_grade() {
                // update the grade list in grade div and clear lesson div
                let g_elem = $('#grade-list-in-dropdown');
                g_elem.empty();
                $('#lessons_div').empty();

                for (const [__grade, __lesson] of Object.entries(
                    which_one === 'docs_version' ? grade_lessons_docs_version : grade_lessons_flashcard_version
                )) {
                   // alert(`${__grade}: ${__lesson}`);
                    g_elem.append(`<a onClick=\"send_grade_select_signal(${__grade})\" class=\"dropdown-item\">\n` +
                        `    ${__grade}\n` +
                        "</a>");
                }
            }

            let socket = io.connect('/');

            socket.on('refresh_grade_on_docs', function (data) {
                which_one = 'docs_version';
                refresh_grade();
            });

            socket.on('switch_to_games_emit', function (data) {
             //   alert("Switching to games"); // data is already there when loaded
                which_one = 'flashcard_version';
                refresh_grade();
            });


            function send_grade_select_signal(grade) {
                current_grade = grade;
                current_lesson = which_one === 'docs_version' ?
                    grade_lessons_docs_version[current_grade][0] : grade_lessons_flashcard_version[current_grade][0]; // as newly selected grade, lesson is not yet selected
                $('#base_grade_text').text(`${current_grade}`);
                $('#base_lesson_text').text(`${current_lesson}`);

                let l = $('#lessons_div');
                l.empty();
                for (let i = 0; i < (which_one === 'docs_version' ?
                    grade_lessons_docs_version[current_grade].length :
                    grade_lessons_flashcard_version[current_grade].length); i++) {
                    l.append("<a onclick=\"send_lesson_select_signal(" + `${which_one === 'docs_version' ?
                        grade_lessons_docs_version[current_grade][i] :
                        grade_lessons_flashcard_version[current_grade][i]}` + ")\" class=\"dropdown-item\">\n" +
                        "                            \n" + `${which_one === 'docs_version' ?
                            grade_lessons_docs_version[current_grade][i] :
                            grade_lessons_flashcard_version[current_grade][i]}` +
                        "                        </a>")
                }
                // also change the lessons (that are mapped with grade) in lesson dropdown option
                socket.emit('grade_lesson_select_signal_receive', {
                    'grade': current_grade, 'lesson': current_lesson
                });
            }

            // lesson select func
            function send_lesson_select_signal(lesson) {
                current_lesson = lesson;
                $('#base_lesson_text').text(`${current_lesson}`);
                // also change the lessons (that are mapped with grade) in lesson dropdown option
                socket.emit('grade_lesson_select_signal_receive', {
                    'grade': current_grade, 'lesson': current_lesson // if null then send first lesson
                });
            }

        </script>
    </section>
    <br>
    <br>
    <div class="field" style="margin-left: 8px;margin-right: 8px;margin-top: 4px;"
         id="student_notes_text">
        <div class="control">
            <textarea
                    style="resize: none;
                    box-shadow: 0 0 11px rgba(236,220,220,0.45);border: none"
                    class="textarea"
                    rows="7" placeholder="Student Notes:" id="student_notes"
                    onkeyup="update_student_note()" disabled
            ></textarea>
        </div>
    </div>

    <div class="field-body is-grouped-centered" style="margin-left: 8px;"
         id="file_upload_section">

        <button style="font-weight: bolder;background: #e312a8;border-radius: 12px" type="button"
                class="customized_column button is-link field is-inline-block-mobile" id="configure">Configure
        </button>
        <div class="customized_gap">
            &nbsp;
        </div>

        <button style="border-radius: 12px;font-weight: bolder;background: #12e312;margin-right: 4px;" type="button"
                onclick="view_ss_report_trigger()"
                class="customized_column button is-link field is-inline-block-mobile" id="view_ss_report" disabled>View
            SS Report
        </button>
    </div>

    {#    <div class="notification is-success is-light" style="z-index: 2;position: absolute;margin: 8px">#}
    {#        Student: <strong>Alex</strong> has been added.#}
    {#    </div>#}




    {# todo: update the UI |  add student form #}
    <section class="section is-small" style="display: none" id="student_add_form">

        <div class="field">
            <label class="label">Student Name</label>
            <div class="control">
                <input class="input" type="text" id="student_name" placeholder="e.g: Alice" name="student_name">
            </div>
        </div>

        <div class="field">
            <label class="label">Student Age</label>
            <div class="control">
                <input class="input" type="number" id="student_age" placeholder="e.g: 12" name="student_age">
            </div>
        </div>

        <div class="field">
            <label class="label">Student's Grade</label>
            <div class="control">
                <input class="input" type="number" id="student_grade" placeholder="e.g: 4" name="student_grade">
            </div>
        </div>

        <div class="control">
            <label class="label">Student Sex</label>
            <label class="radio">
                <input type="radio" name="sex" value="male" checked>
                Male
            </label>
            <label class="radio">
                <input type="radio" name="sex" value="female">
                Female
            </label>
        </div>
        <br>
        <button class="button is-success is-normal" id="add_student">+ Add Student</button>

    </section>




{% endblock %}