{% extends 'base.html' %}

{% block script_link %}
    <script src="{{ url_for('static', filename='js/window2.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='js/libraries/jscolor.js') }}"></script>#}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window2.css') }}">
{% endblock %}


{% block body %}

    <div class="box" style="margin: 8px;">
        <div class="columns">
            <div class="column" id="app_logo_section">
                <img src="{{ url_for('static',filename='images/app_logo.png') }}"
                     alt="Oncher App">

            </div>
            <div class="column is-narrow-desktop" style="margin-top: 10px;visibility: hidden" id="student_name_div">

            </div>
            {#  #}
            <div class="column is-narrow-desktop" style="margin-top: 4px;visibility: hidden" id="stars_bar">
                {% for i in range(10) %}
                    <i class="fa fa-star" style="font-size: 36px" id="star_count_{{ i }}"></i>
                {% endfor %}
            </div>

            <div class="column is-1" id="stars_count_div" style="visibility: hidden">
                <button class="button is-medium title is-light is-warning box"><i class="fal fa-star"
                                                                                  style="font-size: 24px;color: gold"
                                                                                  id="star_icon"></i>
                    <span style="margin-left: 8px;" id="star_count">0</span>
                </button>
            </div>

            <div class="column" style="margin-left: 8px;visibility: hidden" id="diamond_count_div">
                <button class="button is-medium title is-light is-primary box"><i class="fal fa-diamond"
                                                                                  style="font-size: 24px;color: cyan"></i>
                    <span style="margin-left: 8px;" id="diamond_count">0</span>
                </button>
            </div>

            <div class="column" style="padding-right: 8px;visibility: hidden" id="time_count_div">
                <button class="button is-medium title is-success is-light is-outlined box" id="time_count">00:00
                </button>
            </div>

        </div>
    </div>

    <div class="box" id="initial_box"
         style="margin: 8px 8px 0;
         padding: 16px;border: none;border-radius: 0;">

        <div class="columns" id="intro_screen">
            <div class="column">
                <img src="{{ url_for('static',filename='images/init.gif') }}" alt="gif" width="500px" height="350px"
                     style="pointer-events: none">
            </div>
            <div class="column is-half-desktop">
                <h1 class="title is-1" style="font-family: 'HP Simplified',serif;padding: 16px;margin-left: 32px">Teach
                    with ONCHER</h1>
                <section class="section" id="drag_and_drop_section" style="margin: 16px">
                    <img style="margin: 16px" src="{{ url_for('static', filename='images/pdf_pic.jpg') }}" alt="pdf_pic"
                         width="128px"
                         height="128px">
                    <h5 class="title is-5" style="font-family: 'HP Simplified',serif;
                            margin-top: 8px;">Drop File or <a href="#"> Browse</a> to teach</h5>
                    <h6 class="title is-6" style="font-family: 'HP Simplified Light',serif;">Supports .pdf, .ppt, .pptm,
                        .pptx</h6>
                </section>
            </div>
        </div>

        <div class="columns" id="choose_games" style="display: none;">
            <div class="column box" id="game_1" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">TikTakToe</h2>
            </div>
            <div class="column box" id="game_2" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">MATCH</h2>
            </div>
            <div class="column box" id="game_3" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">FIND</h2>
            </div>
            <div class="column box" id="game_4" style="margin:8px;height:450px;">
                <h2 class="title is-2" style="color: white">LISTEN</h2>
            </div>
        </div>

    </div>


    {# start => tik-tak-toe game screen #}
    <div class="box" id="tik_tak_toe" style="background: black;display: none;margin: 8px">
        <div class="columns is-one-quarter">
            <div class="column" id="score_area">
                <h4 class="title is-4" style="color: #5efa0a" id="whose-turn">Teacher's Turn</h4>

                <h4 class="title is-4" style="color: cornflowerblue">Student's Score (X)</h4>
                <h2 class="title is-3" style="color: gold" id="student-score">0</h2>
                <br>
                <h4 class="title is-4" style="color: hotpink">Teacher's Score (O)</h4>
                <h2 class="title is-3" style="color: gold" id="teacher-score">0</h2>
            </div>

            <script>
                // tik-tak-toe game logics
                // variables
                let whose_turn = "teacher"; // first move will be "teacher"
                let arr = [[-1, -1, -1], [-1, -1, -1], [-1, -1, -1]]; // -1 means empty, 0 means teacher 1 means student
                let count_clicks = 0;

                // teacher is 0 and student is X
                function change_tik_tak_toe_result(i, j) {
                    count_clicks++;
                    // i, j is the clicked position in the 3 x 3 grid of tik-tak-toe game
                    let tik_tak_toe_card = $(`#tik_tak_toe_${i}_${j}`);
                    let card_image = $(`#card_${i}_${j}`);
                    if (whose_turn === "teacher") {
                        $(`#canvas_circle_${i}__${j}`).css('visibility', 'visible');
                        whose_turn = "student";
                        arr[i][j] = 0;
                        $('#whose-turn').hide().text("Student's Turn").show(1000);
                    } else {
                        $(`#canvas_cross_${i}__${j}`).css('visibility', 'visible');
                        whose_turn = "teacher";
                        arr[i][j] = 5;
                        $('#whose-turn').hide().text("Teacher's Turn").show(1500);
                    }
                    // now check if there is any cross (potential points)
                    // row and col check
                    for (let x = 0; x < 3; x++) {
                        let row_tot = 0;
                        let col_tot = 0;
                        for (let y = 0; y < 3; y++) {
                            row_tot += arr[x][y];
                            col_tot += arr[y][x];
                        }
                        // alert(" " + row_tot + " " + col_tot);
                        if (row_tot === 0 || row_tot === 15)
                            // done for row
                            return reset_game(row_tot === 0 ? "teacher" : "student");
                        if (col_tot === 0 || col_tot === 15)
                            return reset_game(col_tot === 0 ? "teacher" : "student");
                    }
                    // 2 diagonal check
                    let D1 = arr[0][0] + arr[1][1] + arr[2][2];
                    if (D1 === 0 || D1 === 15)
                        return reset_game(D1 === 0 ? "teacher" : "student");

                    let D2 = arr[0][2] + arr[1][1] + arr[2][0];
                    if (D2 === 0 || D2 === 15)
                        return reset_game(D2 === 0 ? "teacher" : "student");

                    if (count_clicks === 9) {
                        alert("Draw man");
                        // todo: return reset_game()
                    }
                    // todo: check for draw..... and show and it's draw... and reset
                }

                function reset_game(who_won) {
                    // todo: implement function
                    for (let x = 0; x < 3; x++) {
                        for (let y = 0; y < 3; y++) {
                            $(`#canvas_circle_${x}__${y}`).css('visibility', 'hidden');
                            $(`#canvas_cross_${x}__${y}`).css('visibility', 'hidden');
                        }
                    }
                    if (who_won === "none") {

                    } else if (who_won === "teacher") {
                        let teacher_score = parseInt($('#teacher-score').text());
                        teacher_score++;
                        $('#teacher-score').text("" + teacher_score);
                    } else {
                        let student_score = parseInt($('#student-score').text());
                        student_score++;
                        $('#student-score').text("" + student_score);
                    }
                    arr = [[-1, -1, -1], [-1, -1, -1], [-1, -1, -1]];
                    whose_turn = "teacher";
                    count_clicks = 0;

                }

                // on change grade and lesson, change the card images
                let socket = io.connect('/');
                socket.on('grade_and_lesson_change', function (data) {
                    // games_name => tik_tak_toe, find, match, listen
                    // data = { 'game_name':array, 'game_name_1': array,... }
                    // data = [['image_url_1', 'image_url_2','i_u_3'], [...., ..., ...]]
                    // clean the cards inside content
                    for (let i = 0; i < 3; i++) {
                        for (let j = 0; j < 3; j++) {
                            $(`#card_${i}_${j}`).attr('src', data['tik_tak_toe'][i][j]);
                        }
                    }
                    reset_game("none");
                });


            </script>

            <div class="column is-half" id="game_area">

                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            <div class="column box" style="position:relative;margin: 8px"
                                 id="tik_tak_toe_{{ i }}_{{ j }}"
                                 onclick="change_tik_tak_toe_result({{ i }},{{ j }})">

                                <img style="height: 96px;width: 96px;z-index: 1;position: absolute"
                                     id="card_{{ i }}_{{ j }}"
                                     src="https://i2.wp.com/files.123freevectors.com/wp-content/uploads/new/animals/370-cartoon-dog-vector-image.png?w=800&q=95"
                                     alt="{{ i }}">

                                {# draw circle #}
                                <canvas id="canvas_circle_{{ i }}__{{ j }}" width="110" height="110"
                                        style="z-index: 2;position: relative;visibility: hidden"></canvas>
                                <script>
                                    var ctx = document.getElementById("canvas_circle_{{ i }}__{{ j }}").getContext("2d");
                                    ctx.lineWidth = 7;
                                    ctx.strokeStyle = 'cornflowerblue';
                                    ctx.beginPath();
                                    ctx.arc(55, 55, 50, 0, 2 * Math.PI);
                                    ctx.stroke();
                                </script>

                                {# draw cross #}
                                <canvas id="canvas_cross_{{ i }}__{{ j }}" width="110" height="100"
                                        style="z-index: 3;position: relative;margin-top: -110px;visibility: hidden"></canvas>
                                <script>
                                    var ctx2 = document.getElementById("canvas_cross_{{ i }}__{{ j }}").getContext("2d");
                                    ctx2.lineWidth = 7;
                                    ctx2.strokeStyle = 'hotpink';
                                    ctx2.beginPath();
                                    var x = 40;
                                    var y = 15;
                                    ctx2.moveTo(x - 20, y - 20);
                                    ctx2.lineTo(x + 40, y + 40);
                                    ctx2.moveTo(x + 40, y - 20);
                                    ctx2.lineTo(x - 20, y + 40);
                                    ctx2.stroke();
                                </script>

                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}


            </div>

            <div class="column is-one-quarter" id="others_area">
                <button class="button is-success" id="new_game_from_game_1">New Game</button>
                <br>
                <button class="button is-danger" id="back_to_lesson_from_game_1" style="margin-top: 12px">Back To
                    Lesson
                </button>
            </div>
        </div>
    </div>

    {# end => tik-tak-toe game screen #}

    {# start => match game screen #}
    <div class="box" id="match_game" style="background: #207bdd;display: none;margin: 8px">
        <h3 class="title is-3" style="font-weight: bolder">MATCH</h3>
        <h6 class="subtitle is-6" style="display: none;">Please choose Grade and Lesson</h6>

        <script>
            let last_selected = null; // [i,j]
            // let colors = [[], [], []];
            let already_chosen = [];

            function chosen_first_grid(j, i) {
                if (last_selected != null && !already_chosen.includes(last_selected)) {
                    $(`#match_1_${last_selected[0]}_${last_selected[1]}`).css({'box-shadow': ''});
                    $(`#number_${last_selected[0]}_${last_selected[1]}`).css({'color': 'black'});
                }
                //card_1.effect("shake", {direction: "up", times: 5, distance: 50}, 2000);
                $(`#match_1_${i}_${j}`).css({'box-shadow': '10px 10px 5px hotpink'});
                $(`#number_${i}_${j}`).css({'color': 'hotpink'});
                last_selected = [i, j];
            }

            function chosen_second_grid(j, i) {
                // todo: get the mapping between grid-1 and grid-2, thus used to match
                // todo: if correct/wrong make sound
                if (last_selected != null) {
                    document.getElementById('play_star_sound').click();
                    $(`#match_2_${j}_${i}`).hide(1500);
                    $(`#number_${last_selected[0]}_${last_selected[1]}`).css({'font-size': '18px', 'color': 'green'}
                    ).hide().show(1500).text($(`#name_${i}_${j}`).text());
                    $(`#match_1_${last_selected[0]}_${last_selected[1]}`).css({'pointer-events': 'none'}).css({'box-shadow': '10px 10px 5px green'});// make the 1st grid elem unclickable
                    // todo: if correct then add to already chose
                    already_chosen.push(last_selected);
                    // $(`#letter_${i}_${j}`).text('✔️');
                } else {
                    // todo: show a notification that nothing is selected from grid-1
                }

            }
        </script>

        <div class="columns">
            {# game's first part #}
            {% set grid_num = [[1,2,3],[4,5,6],[7,8,9]] %}
            <div class="box column is-two-fifths" style="background: black">
                {% set num=0 %}
                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            {% set num= num + 1 %}
                            <div class="column box"
                                 style="margin: 8px;"
                                 id="match_1_{{ i }}_{{ j }}"
                                 onclick="chosen_first_grid({{ j }},
                                         {{ i }})">
                                <h2 class="title is-3" id="number_{{ i }}_{{ j }}"
                                    style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ grid_num[j][i] }}</h2>
                                <img
                                        style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                                        id="match_card_2_{{ i }}_{{ j }}"
                                        src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                                        alt="{{ i }}">
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
            {# game's second part #}
            {% set grid_letter = [['A','B','C'],['D','E','F'],['G','H','I']] %}
            <div class="box column is-two-fifths" style="background: black;margin-left: 16px">
                {% for j in range(3) %}
                    <div class="columns">
                        {% for i in range(3) %}
                            <div class="column box" style="margin: 8px;height: 126px;background: #02c9ff"
                                 id="match_2_{{ i }}_{{ j }}" onclick="chosen_second_grid({{ i }},{{ j }})">
                                <h2 class="title is-2" id="letter_{{ i }}_{{ j }}"
                                    style="font-weight: bolder;color: black">{{ grid_letter[j][i] }}</h2>
                                <h5 class="title is-5 has-text-centered" style="color: blue" id="name_{{ i }}_{{ j }}">
                                    Elephant</h5>
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
            <div class="column is-one-fifth">
                <button class="button is-success" id="new_game_from_game_2">New Game</button>
                <br>
                <button class="button is-danger" id="back_to_lesson_from_game_2" style="margin-top: 12px">Back To
                    Lesson
                </button>
            </div>
        </div>
    </div>

    {# end => match game screen #}



    {# start => find game screen #}
    <div class="box" id="find_game" style="background: #8b35d5;display: none;margin: 8px">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3" style="font-weight: bolder;color: #00d1b2">FIND</h3>
            </div>
            <div class="column">
                {# todo: start button #}
                <h2 class="title is-3" style="color:green;">
                    {% for i in range(5) %}&nbsp;{% endfor %}
                    <span style="color: #5ce55c" id="find_game_timer">00:08</span>
                    <span style="color: #60b8f3"><i class="fa fa-play" id="start_find_game_timer"
                                                    style="cursor: pointer"></i></span>
                    <script>

                        // todo: from where we are getting the flashcard names and all?
                        let the_find_game_array = []; // flat array AKA 1-Dimension
                        let index_elem_map = new Map();
                        // on change grade and lesson, change the card images
                        // let socket = io.connect('/');
                        socket.on('grade_and_lesson_change', function (data) {
                            alert("response received in find game socket...");
                            // games_name => tik_tak_toe, find, match, listen
                            // data = { 'game_name':array, 'game_name_1': array,... }
                            // data = [['image_url_1', 'image_url_2','i_u_3'], [...., ..., ...]]
                            // clean the cards inside content
                            // this one is "find" game
                            the_find_game_array = data['find']; // {'find': [.....]} 9 elements and a singular array
                            // we create a map, to match the random elem with the index while TESTING
                            for (let i = 0; i < the_find_game_array.length; i++)
                                index_elem_map.set(the_find_game_array[i], i);
                        });

                        // find game javascript
                        $('#start_find_game_timer').click(function () {
                            // todo: change the icon
                            // for now just hide the icon
                            $('#start_find_game_timer').hide();

                            const countDownDate = new Date();
                            const TIME_TO_SHOW_IN_SEC = 8 + 2; // +2 means extra 2 seconds to process the code and start the timer
                            countDownDate.setSeconds(countDownDate.getSeconds() + TIME_TO_SHOW_IN_SEC); //

                            let x = setInterval(function () {

                                // Get today's date and time
                                const now = new Date().getTime();

                                // Find the distance between now and the count down date
                                const distance = countDownDate - now;

                                // Time calculations for days, hours, minutes and seconds
                                // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                // Output the result in an element with id="demo"
                                document.getElementById("find_game_timer").innerHTML = "00:0" + seconds;

                                // If the count down is over, write some text
                                if (distance <= 0) { // || should_stop

                                    // when the time is over we need to clear the images and show the test image
                                    // show the test card
                                    $('#test_card').show(1000);
                                    // remove the images and white background from the show cards
                                    for (let i = 0; i < 10; i++) {
                                        $(`#card_${i}`).attr({'src': '', 'alt': ''});
                                        $(`#find_card_box_${i}`).attr({'background': '#8b35d5'});
                                    }
                                    clearInterval(x);
                                    start_test_timer(); // START THE TESTING PROCESS
                                }
                            }, 1000);

                        });

                        // shuffle an array - util code
                        /**
                         * Shuffles array in place. ES6 version
                         * @param {Array} a items An array containing the items.
                         */
                        function shuffle(a) {
                            for (let i = a.length - 1; i > 0; i--) {
                                const j = Math.floor(Math.random() * (i + 1));
                                [a[i], a[j]] = [a[j], a[i]];
                            }
                            return a;
                        }


                        // after the show timer ends we call this function to start the test timer and it's functionalities...
                        // Returns a Promise that resolves after "ms" Milliseconds
                        const timer = ms => new Promise(res => setTimeout(res, ms))

                        async function start_test_timer() {
                            let arr = shuffle(the_find_game_array);
                            // as there are 9 show cards so we will work with it
                            for (let i = 0; i < 9; i++) {
                                $('#test_card_image').attr({'src': arr[i], 'alt': ''}); // todo: is the src correct?
                                initialize_a_test_timer();
                                // synchronous sleep for 5 seconds!
                                await timer(10000); // check with 8
                            }
                        }

                        function initialize_a_test_timer() {

                            document.getElementById("find_game_timer").innerHTML = "00:05";
                            const countDownDate = new Date();
                            const TIME_TO_SHOW_IN_SEC = 5 + 2; // +2 means extra 2 seconds to process the code and start the timer
                            countDownDate.setSeconds(countDownDate.getSeconds() + TIME_TO_SHOW_IN_SEC); //

                            let x = setInterval(function () {

                                // Find the distance between now and the count down date
                                const distance = countDownDate - new Date().getTime();

                                // Time calculations for days, hours, minutes and seconds
                                // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                // Output the result in an element with id="demo"
                                document.getElementById("find_game_timer").innerHTML = "00:0" + seconds;

                                // If the count down is over, write some text
                                if (distance <= 0) { // || should_stop
                                    clearInterval(x);
                                }
                            }, 1000);
                        }

                    </script>
                </h2>
                <div class="columns" style="display: none">
                    <div class="column box" style="margin-right: 125px">
                        <img class="is-centered"
                             style="height: 64px;width: 64px;margin: 0;padding: 0;align-content: center"
                             id="card_"
                             src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                             alt="_">
                    </div>

                </div>
            </div>
            <div class="column">
                <h3 class="title is-3" style="color: gold">Points: 0</h3>
            </div>
        </div>
        <div class="columns">
            {# this is the test card #}

            <div class="column box" style="margin: 8px;display: none" id="test_card">
                <img
                        style="height: 100px;width: 100px;z-index: 0;margin: 0;padding: 8px;align-content: center"
                        id="test_card_image"
                        src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                        alt="test_card_image">
            </div>

            {# normal 9 show cards #}

            {% for k in range(5) %}
                <div class="column box" style="margin: 8px" id="find_card_box_{{ k }}">
                    <h2 class="title is-3" id="number_{{ k }}"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ loop.index }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_{{ k }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ k }}">
                </div>
            {% endfor %}
        </div>


        <div class="columns">
            {% for y in range(6,10) %}
                <div class="column box" style="margin: 8px" id="find_card_box_{{ y }}">
                    <h2 class="title is-3" id="number_{{ y }}"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ y }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_{{ y }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ y }}">
                </div>
            {% endfor %}
        </div>
        <section class="section" style="float: right">
            <button class="button is-success" id="new_game_from_game_3">New Game</button>
            <button class="button is-danger" id="back_to_lesson_from_game_3"
                    style="margin-left: 12px">Back To Lesson
            </button>
        </section>
    </div>

    {# end => find game screen #}

    {# listen => listen game screen #}
    <div class="box" id="listen_game" style="background: black;display: none;margin: 8px">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3" style="font-weight: bolder;color: #00d1b2">LISTEN</h3>
            </div>
            <div class="column">
                <h3 class="title is-3"
                    style="margin-right: 64px"><span style="color: #fa0a62">Points:</span> <span id="listen_game_points"
                                                                                                 style="color: gold">0</span>
                </h3>
            </div>
        </div>
        <script>
            let now_correct_option = -1; // index starts from 0 to n
            let socket = io.connect('/');

            function check_if_correct(k) {
                // todo: implement if else
                //   if (k === now_correct_option) {
                // means correct
                document.getElementById('play_star_sound').click();
                // hide that card
                $(`#number_listen_${k}`).css({'visibility': 'hidden'});
                socket.emit('game_4_initialize', {'image_name': 'COW'}); // todo: this will get changed
                let points = $('#listen_game_points');
                let prev_point = parseInt(points.text());
                prev_point++;
                points.hide().show(1300).text(`${prev_point}`);
                // } else {
                //     // in-correct
                // }
            }
        </script>
        <div class="columns" style="margin-top: 12px">
            {% for k in range(5) %}
                <div class="column box" style="margin: 8px" onclick="check_if_correct({{ k }})"
                     id="number_listen_{{ k }}">
                    <h2 class="title is-3"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ loop.index }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_listen_{{ k }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ k }}">
                </div>
            {% endfor %}
        </div>
        <div class="columns">
            {% for y in range(5,9) %}
                <div class="column box" style="margin: 8px">
                    <h2 class="title is-3" id="number_listen_{{ y }}"
                        style="font-weight: bolder;color: black;margin: 0;padding: 0;">{{ y }}</h2>
                    <img
                            style="height: 60px;width: 60px;z-index: 0;margin: 0;padding: 4px"
                            id="card_listen_{{ y }}"
                            src="https://thumbs.dreamstime.com/b/cartoon-elephant-vector-illustration-cute-baby-friendly-smile-big-ears-66547601.jpg"
                            alt="{{ y }}">
                </div>
            {% endfor %}
        </div>
        <section class="section" style="float: right">
            <button class="button is-success" id="new_game_from_game_4">New Game</button>
            <button class="button is-danger" id="back_to_lesson_from_game_4"
                    style="margin-left: 12px">Back To Lesson
            </button>
        </section>
    </div>
    {# listen => listen game screen #}


    {#    <div class="animation_div" style="display: none">#}
    {#        <img src="{{ url_for('static', filename='images/star.gif') }}" alt="happy_gif"#}
    {#             width="196px"#}
    {#             height="196px" id="star_animation">#}
    {#    </div>#}

    {# star animation #}
    <div class="content" style="display:none;" id="star_animation_div">
        <div class="trophy">
            <img src="https://i.ibb.co/kVZ3CN6/trophy.png" alt="trophy">
        </div>
    </div>

    {# dice animation #}

    <div class="panel" style="display: none;margin-top: 50px;" id="dice_animation_div">
        <div class="dice">
            <div class="side one">
                <span class="dot"></span>
            </div>
            <div class="side two">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="side three">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="side four">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="side five">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="side six">
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="kolona">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>

    {# toss animation #}
    <div id="toss_animation_div" style="display: none">
        {#        <img id="featureCoin"#}
        {#             src="https://upload.wikimedia.org/wikipedia/en/5/52/British_fifty_pence_coin_2015_obverse.png"/>#}
        <div id='coin'>

        </div>
    </div>






    <div class="box" id="iframe-container"
         style="margin: 0;padding: 0;border: none;border-radius: 8px;display: none">
        {#
    <iframe class="responsive-iframe" id="responsive-iframe" allowfullscreen width="100%" height="500px" frameBorder="0"
            #}
        {#
            src="https://psg3-powerpoint.officeapps.live.com/p/PowerPointFrame.aspx?PowerPointView=SlideShowView&ui=en%2DGB&rs=en%2DGB&WOPISrc=http%3A%2F%2Fpsg3%2Dview%2Dwopi%2Ewopi%2Elive%2Enet%3A808%2Foh%2Fwopi%2Ffiles%2F%40%2FwFileId%3FwFileId%3Dhttps%253A%252F%252Fwww%252Elibwired%252Ecom%253A443%252Fstatic%252FGrade1Lesson1%252Epptx&access_token_ttl=0&wdModeSwitchTime=1612594467217">
        #}
        {##}
        {#
    </iframe>
    #}

    </div>

    {# canvas to draw over... #}

    <div id="drawing-div">

    </div>

    <script>


    </script>


    {# end canvas code #}

    {# hidden sound block for animations #}
    {#
<audio controls>#}
    {#
    <source src="{{ url_for('static', filename='sounds/star_sound.mp3') }}" type="audio/mpeg" id="star_sound">
    #}
    {#
</audio>#}

    <audio id="audiotag1" src="{{ url_for('static', filename='sounds/star_sound.mp3') }}" preload="auto"></audio>
    <a href="javascript:play_star_sound();" style="display: none" id="play_star_sound"></a>
    <script type="text/javascript">
        function play_star_sound() {
            document.getElementById('audiotag1').play();
        }

    </script>


    {# modal to change timer time #}
    <div class="modal" id="timer_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Set Class Time Length</p>
                <button class="delete" aria-label="close" onclick="close_modal()"></button>
            </header>
            <section class="modal-card-body">
                <h1 class="title is-1" style="text-align: center;color: #f8c30d" id="time">00:50:00</h1>
                <div class="columns">
                    <div class="column">
                        <label for="hours"> Hours</label>
                        <input class="input is-medium" type="number" placeholder="hours" value="0" id="hours"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()">
                    </div>
                    <div class="column">
                        <label for="minutes">Minutes</label>
                        <input class="input is-medium" type="number" placeholder="minutes" value="50" id="minutes"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()">
                    </div>
                    <div class="column">
                        <label for="seconds">Seconds</label>
                        <input class="input is-medium" type="number" placeholder="seconds" value="0" id="seconds"
                               onchange="update_time()" onkeyup="update_time()" onkeydown="update_time()"
                               oninput="update_time()" onautocomplete="update_time()"
                        >
                    </div>
                    <script>
                        function close_modal() {
                            $('#timer_modal').removeClass("modal is-active").addClass("modal");
                        }

                        function update_time() {
                            let h = $('#hours');
                            let m = $('#minutes');
                            let s = $('#seconds');
                            let save_changes = $('#save_time');
                            let hi = parseInt(h.val());
                            let mi = parseInt(m.val());
                            let si = parseInt(s.val());

                            if (hi < 0 || hi > 23) {
                                save_changes.prop('disabled', true);
                                h.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                h.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (hi < 10)
                                    hi = "0" + hi;
                                else
                                    hi = "" + hi;
                            }
                            if (mi < 0 || mi > 59) {
                                save_changes.prop('disabled', true);
                                m.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                m.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (mi < 10)
                                    mi = "0" + mi;
                                else
                                    mi = "" + mi;
                            }
                            if (si < 0 || si > 59) {
                                save_changes.prop('disabled', true);
                                s.removeClass("input is-medium").addClass("input is-medium is-danger");
                                return;
                            } else {
                                save_changes.prop('disabled', false);
                                s.removeClass("input is-medium is-danger").addClass("input is-medium");
                                if (si < 10)
                                    si = "0" + si;
                                else
                                    si = "" + si;
                            }


                            $('#time').text(hi + ":" + mi + ":" + si);
                        }
                    </script>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="save_time">Save Changes</button>
                <button class="button" onclick="close_modal()">Cancel</button>
            </footer>
        </div>
    </div>



{% endblock %}



